<header>
  <h1 id="api-name">IP Location API</h1>
  <p>Created by <a href="https://autumnchris.github.io/portfolio" target="_blank">Autumn Bullard</a> &copy; <%= new Date().getFullYear() %></p>
  <div class="api-description">
    <p>An API that gets the longitude and latitude for the user's IP address as well as any other entered IP address.</p>
    <p>View the <a href="https://github.com/autumnchris/ip-location-api" target="_blank" id="src-link" aria-labelledby="api-name src-link">source code</a> for this project.</p>
  </div>
  <hr />
</header>