<%- include ('./partials/header-content') -%>
<main>
  <article>
    <section class="section-lvl1">
      <h2>Example Usages</h2>
      <section class="section-lvl2">
        <h3>Get Location for Your IP Address</h3>
        <p>To get the coordinates for your IP address, go to the route:</p>
        <pre>
          <code class="api-link">https://autumnchris-ip-location-api.onrender.com/api/ip/me</code>
          <button type="button" class="button copy-button api-my-ip" title="Copy to clipboard" aria-label="copy to clipboard"><span class="copy-icon fa-regular fa-copy"></span></button>
        </pre>
      </section>
      <section class="section-lvl2">
        <h3>Get Location for a Custom IP Address</h3>
        <p>To get the coordinates for a custom IP address, change the last parameter to the number of that IP address, then go to the route, replacing <code>&lt;your-custom-ip-address&gt</code> with the number of the IP address:</p>
        <pre>
          <code class="api-link">https://autumnchris-ip-location-api.onrender.com/api/ip/&lt;your-custom-ip-address&gt;</code>
          <button type="button" class="button copy-button api-custom-ip" title="Copy to clipboard" aria-label="copy to clipboard"><span class="copy-icon fa-regular fa-copy"></span></button>
        </pre>
      </section>
    </section>
  </article>
</main>
