<header>
  <h1>IP Location API</h1>
  <p>Created by <a href="https://autumnchris.github.io/portfolio" target="_blank">Autumn Bullard</a> &copy; <%= new Date().getFullYear() %></p>
</header>
<main>
  <p>An API that gets the longitude and latitude for the user's IP address as well as any other entered IP address.</p>
  <p>View the <a href="https://github.com/autumnchris/ip-location-api" target="_blank">source code</a> for this project.</p>
  <hr>
  <section>
    <h2>Example Usages</h2>
    <div class="subsection">
      <h3>Get Location for Your IP Address</h3>
      <p>To get the coordinates for your IP address, go to the route:</p>
      <pre><code>/api/ip/me</code></pre>
    </div>
    <div class="subsection">
      <h3>Get Location for a Custom IP Address</h3>
      <p>To get the coordinates for a custom IP address, change the last parameter to said IP address. For example, if I wanted to get the coordinates for the IP address, <code>72.14.192.0</code>, I would go to the route:</p>
      <pre><code>/api/ip/72.14.192.0</code></pre>
    </div>
  </section>
</main>
