<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') -%>
  <body>
    <header>
      <h1>IP Location API</h1>
      <h2>Created by <a href="https://autumnbullard-portfolio.herokuapp.com" target="_blank">Autumn Bullard</a> &copy; <%= new Date().getFullYear() %></h2>
      <p>An API that gets the longitude and latitude for the user's IP address and any other entered IP address.</p>
      <p>View the <a href="https://github.com/autumnchris/ip-location-api" target="_blank">source code</a> for this project.</p>
      <hr>
    </header>
    <main>
      <h3>Example Usages</h3>
      <h4>Get the location for your IP address</h4>
      <p>To get the coordinates for your IP address, go to the path:</p>
<pre><code>/api/ip/me</code></pre>
      <h4>Get the location for a custom IP address</h4>
      <p>To get the coordinates for a custom IP address, change the last parameter to the name of the intended IP address. For example, if I wanted to get the coordinates for the IP address <code>72.14.192.0</code>, I would go to the path:</p>
<pre><code>/api/ip/72.14.192.0</code></pre>
    </main>
  </body>
</html>
