<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>IP Location API</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen+Mono">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <header>
      <h1>IP Location API</h1>
      <h2>Coded by <a href="https://autumnbullard-portfolio.herokuapp.com" target="_blank">Autumn Bullard</a></h2>
      <p>An API that gets the longitude and latitude for the user's IP address and any other entered IP address.</p>
      <p>View the <a href="https://github.com/autumnchris/ip-location-api" target="_blank">source code</a> for this project.</p>
      <hr>
    </header>
    <main>
      <h3>Example Usages</h3>
      <h4>Get the location for your IP address</h4>
      <p>To get the coordinates for your IP address, go to the path <code>/api/ip/me</code>.</p>
      <h4>Get the location for a custom IP address</h4>
      <p>To get the coordinates for other IP addresses, go to the path <code>/api/ip</code> and then add a parameter of the IP address. For example, if I wanted to get the coordinates for the IP address <code>72.14.192.0</code>, I would type <code>/api/ip/72.14.192.0</code>.</p>
    </main>
  </body>
</html>
